.row {
    background-color: #49708a;
    width: 100%;
    height: 150px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.body1{
    background-color: #d0e0eb;
    width: 100%;
    height: 100%;
    margin-top: 0px;
}
.body2{
    background-color: #d0e0eb;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    justify-content: space-around;
}
.logo{
    width: 150px;
    height: 100px; 
    margin-top: 20px;
    margin-right: 20px;
}
.title{
    font-family: 'Arial', sans-serif;
    font-size: 36px;
    margin-inline: 50px;
}